@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
:root{
    /* ### Primary */
    --PINK: hsl(322, 100%, 66%);
    --LIGHT-PINK: hsl(321, 100%, 78%);
    --LIGHT-RED: hsl(0, 100%, 63%);

    /* ### Neutral */
    --VERY-DARK-CYAN: hsl(192, 100%, 9%);
    --VERY-PALE-BLUE: hsl(207, 100%, 98%);
}
body{
    font-family: "Poppins", serif;
    text-align: center;
    text-wrap: wrap;
}
img{
    max-width: 55%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 0 12rem 0 ;
}
header img{
    width: 11rem;
    max-width: 15rem;
    height: auto;
    transform: translateX(20%);
}
header div{
    font-size: 1.2rem;
    color: var(--PINK);
    border: 0.1rem solid var(--LIGHT-PINK);
    width: 11rem;
    height: 3rem;
    border-radius: 4rem;
    display: grid;
    place-content: center;
    box-shadow: 0 0 8px 0.2px hsla(321, 100%, 78%, 0.500);
    transform: translateX(-20%);
}
header div:hover,header div:active{
    cursor: pointer;
    box-shadow: 0 0 8px 0.2px hsla(321, 100%, 78%, 0.300);
    color: hsla(321, 100%, 78%, 0.800);
}
h1,.text-box h2{
    font-family: "Open Sans", serif;
    font-weight: bold;
    font-size: 2.5rem;
    width: 30rem;
    margin: 0 auto 2.5rem auto;
}
.intro-nth-child-2,.curved-sections p{
    font-size: 1.4rem;
    width: 34rem;
    margin: auto;
}
.intro{
    margin-bottom: 12rem;
}
.button{
    width: 22rem;
    height: 4.5rem;
    background-color: var(--PINK);
    color: white;
    font-size: 1.5rem;
    display: grid;
    place-content: center;
    border-radius: 4rem;
    margin: 4.5rem auto 8rem auto;
}
.button:hover,.button:active,.contact-form input[type="submit"]:active,.contact-form input[type="submit"]:hover{
    cursor: pointer;
    background-color: var(--LIGHT-PINK);
}
img[alt="screen-mockups"]{
    margin-bottom: 10rem;
}
.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: max-content;
    margin: 0 auto 8rem auto;
}
.box img{
    width: 4rem;
    transform: translateX(-60px);
}
.box :nth-child(2){
    font-size: 5.5rem;
    width: max-content;
    font-family: "Open Sans", serif;
}
.box p{
    font-size: 1.3rem;
}
.wrap{
    text-wrap: wrap;
    width: 8rem;
}
.section-one{
    background-color: var(--VERY-PALE-BLUE);
    margin-bottom: 16rem;
}

.top-img{
    width: 100%;
    max-width: 100%;
    height: 10rem;
    transform: translateY(-10rem);
}
.none{
    width: 100%;
    max-width: 100%;
}
.bottom-img{
    transform: translateY(5rem);
    max-width: 100%;
    height: 5rem;
    width: 100%;
}
.section h2{
    font-size: 2.2rem;
    margin: 6rem auto 1rem auto;
}
.inverse-section{
    margin-bottom: 10rem;
}
.section-two{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-two div div p{
    margin-bottom: 8rem;
}
.section-two div :nth-child(3){
    margin-bottom: 8rem;
}
.section-two :nth-child(1),
.section-two :last-child{
    max-width: 100%;
}
.section-two div{
    background-color: var(--VERY-PALE-BLUE);
}
.section-two div img{
    width: 55%;
}
.text-box h2{
    margin: 6rem auto -1rem auto;
}
.text-box{
    margin-bottom: 16rem;
}
.contact-section{
    background-color: var(--VERY-DARK-CYAN)
    ;
    display: flex;
    color: white;
    text-align: left;
    flex-direction: column-reverse;
}
.contact-form{
    padding: 0 1.5rem;
    margin-bottom: 12rem;
}
.contact-form h3{
    font-size: 2rem;
    font-weight: normal;
    margin: 4rem 0 1.5rem 0;
}
.contact-form p{
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}
.contact-form input{
    height: 4.5rem;
    border-radius: 1rem;
}
.contact-form input[type="email"]{
    width: 100%;
    margin: 0 auto 2rem auto;
}
.contact-form input[type="email"]:active,.contact-form input[type="email"]:hover{
    cursor: pointer;
    border: 2px solid var(--PINK);
}
.contact-form input[type="submit"]{
    width: 50%;
    color: white;
    background-color: var(--PINK);
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
}
.contact-info{
    padding: 0 1.5rem;
}
.contact-info img{
    margin-bottom: 1rem;
    filter: brightness(0) invert(1);
}
span img{
    width: 20px;
}
.down{
    margin-bottom: 4rem;
}
span p, .contact-info p{
    font-size: 1.5rem;
}
span{
    display: flex;
    width: 25rem;
    height: 4rem;
    align-items: center;
    gap: 2rem;
}
.socials{
    margin: 4.5rem 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 17rem;
}
.socials img{
    width: 30px;
}
.socials img:hover{
    cursor: pointer;
    filter: invert(86%) sepia(8%) saturate(516%) hue-rotate(180deg) brightness(100%) contrast(92%);
}
footer{
    display: flex;
    flex-direction: column;
}
.footer-img{
    max-width: 100%;
    transform: translateY(2px);
}
.hide{
    display: none;
}
p {
    line-height: 1.4em;
    font-size: 1.5rem;
}
@media (min-width: 600px) {
    .section-one{
        background-color: var(--VERY-PALE-BLUE);
    }
    .section-one div h2{
        text-wrap: nowrap;
        width: fit-content;
    }
    .section-two div{
        background-color: var(--VERY-PALE-BLUE);
        width: 100%;
    }
    .section-one{
        height: max-content;
    }
    .top-img{
        transform: translateY(-10rem);
    }
    .bottom-img {
        max-height: 10rem;
    }
    .intro-nth-child-2 {
        font-size: 1.6rem;
    }
    .contact-form p,.contact-info p{
        width: 65%;
    }
    .footer-img{
        transform: translateY(4px);
    }
    .contact-form h3 {
        font-size: 2.5rem;
    }
    .contact-form input[type="submit"]{
        width: 35%;
    
    h1 {
        width: 35rem;
    }
}
@media (min-width: 1440px) {
    header img {
        width: 13.5rem;
    }
    h1 {
        font-size: 3.5rem;
        width: max-content;
    }
    img[alt="screen-mockups"] {
        max-width: 40.5%;
    }
    .big-box {
        max-width: 60rem;
    }
    .big-box h2 {
        font-size: 3.2rem;

        width: fit-content;
    }

    .intro-nth-child-2 {
        font-size: 1.8rem;
        width: 38rem;
    }
    .box :nth-child(2) {
        margin: 0;
    }
    .big-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        margin: 0 auto 12rem auto;
    }
    .box{
        margin: 0 0 0 0;
        width: 25rem;
    }
    .box p {
        font-size: 1.6rem;
    }
    .intro {
        margin-bottom: 20rem;
    }
    .wrap{
        width: max-content;
    }
    .section img{
        width: 45rem;
    }
    .section-one,.inverse-section,.section-two{
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        align-items: center;
        justify-content: space-between;
        padding: 0 8%;
    }
    .inverse-section{
        flex-direction: row;
        margin-bottom: 20rem;
    }
    .section-two .flex-box div{
        max-width: max-content;
    }
    .section-two .flex-box img{
        width: 45rem;
    }
    .flex-box{
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        align-items: center;
        justify-content: space-between;
    }
    .section-two .flex-box div p{
        margin-bottom: 0;
    }
    .section h2{
        margin: 0;
        text-wrap: nowrap;
    }
    .section-one,.section-two,.section-two div{
        background-color: var(--VERY-PALE-BLUE);
    }
    .top-img{
        display: none;
    }
    .text-box h2{
        width: max-content;
        text-wrap: nowrap;
    }
    .text-box{
        margin-bottom: 8rem;
        height: 25rem;
        display: grid;
        place-content: center;
    }
    .footer-img{
        display: none;
    }
    .contact-section{
        flex-direction: row;
        padding: 0 8%;
    }
    .bottom-img , .none{
        display: none;
    }
    .contact-info{
        padding: 0;
        margin-top: 10rem;
    }
    form{
        display: flex;
        margin-top: 4rem;
    }
    form input{
        display: inline;
    }
    .contact-form{
        margin-top: 6rem;
    }
    .contact-info p{
        width: 70%;
        margin-bottom: 1rem;
    }
    .contact-form input[type="submit"]{
        width: 18rem;
    }
    .contact-form input[type="email"]{
        margin: 0 3rem 0 0;
        width: 30rem;
    }
    .section-one{
        height: max-content;
        position: relative;
    }
    .hide{
        display: block;
    }
    .section .desktop-one{
        max-width: 100%;
        object-fit: cover;
        position: absolute;
        top: -16.5rem;
        width: 100vw;
        height: auto;
        left: 0;
        z-index: -1;
    }
    .section .desktop-two{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        max-height: 16.5rem;
        transform: translateY(13.5rem);
        z-index: -2;
    }
    .section-two{
        position: relative;
    }
    .section-two .desktop-three{
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        width: 100%;
        max-width: 100%;
        max-height: auto;
        object-fit: cover;
        transform: translateY(-15.6rem);
    }
    .section-two .desktop-four{
        position: absolute;
        bottom: -14.5rem;
        right: 0;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        height: 15rem;
    }
    .section {
        min-height: 45rem;
    }
    .section div h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .section div p {
        font-size: 1.8rem;
    }
    .desktop-five{
        max-width: 100%;
        width: 100%;
        transform: translateY(4px);
    }
    .section-two {
        margin-bottom: 18rem;
    }
    .big-box{
        margin-bottom: 0;
    }
}
}